<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="buscar niveles... ">
            </div>
        </div>
    </div>
</div> 

<!-- SPINNER -->

<div class="row animated fadeIn fast" *ngIf="!estadoCargado">
    <div class="col-12">
        <div class="text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class='fa fa-spinner fa-pulse fa-spin fa-2x'></i>
          <p class="mb-0">Espere por favor</p>
        </div>
    </div>
</div> 
<!-- FIN SPINNER -->

<!-- TABLA DE DATOS -->
<div class="row animated fadeIn fast" *ngIf="estadoCargado && !sinRegistro">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Niveles</h4>
                        <h6 class="card-subtitle">Niveles registrados</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button [routerLink]="['/dashboard/nivel/nuevo']" 
                                    class="btn btn-primary waves-effect waves-light" 
                                    type="button">
                                    <span class="btn-label">
                                        <i class="fa fa-list-alt"></i>
                                    </span>Crear Nivel
                            </button>
                        </div>
                    </div>
                </div>

                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nivel ID</th>
                                <th>Descripcion</th>
                                <th>Prioridad</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nivel of niveles">
                                <td>{{nivel.nivelID}}</td>
                                <td>{{nivel.descripcion}}</td>
                                <td class="text-nowrap text-center">
                                    <span class="label label-info">{{nivel.prioridad}}</span>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/nivel',nivel.nivelID]" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a class="pointer" data-toggle="tooltip" data-original-title="Borrar" (click)="eliminarNivel(nivel)"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button class="btn btn-secondary">Siguiente</button>
                </div>
            </div>
        </div>
    </div>   
</div>

<!-- FIN TABLA DE DATOS -->

<div class="row" *ngIf="sinRegistro">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>No hay registros</h4>
            </div>
        </div>
    </div>
</div>
